@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Roboto+Mono&display=swap');

.landing {
	margin-top: -110px;
}
.landing-top {
	background-color: rgb(242, 106, 129);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 88vh;
}
.dervish {
	width: 350px;
}
.mint {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 256px;
	padding: 1rem;
	border: none;
	margin-bottom: 1.5rem;
	margin-top: -3.6rem;
	background-color: gold;
	font-family: 'Roboto Mono', monospace;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 1rem;
	border: 1px solid black;
	border-radius: 20px;
}

.mint a {
	color: black;
}

.tagline {
	font-family: 'Roboto Mono', monospace;
	background-color: rgb(246, 115, 137);
	text-align: center;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	font-size: 18px;
	width: 100%;
	font-weight: 600;
	letter-spacing: 0.2rem;
	color: black;
}
